[Unit]
Description=RHPAM Business Central service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash ${RHPAM_DATA_DIR}/bc-service.sh

[Install]
WantedBy=multi-user.target