[Unit]
Description=RHPAM Kie Server service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash ${RHPAM_DATA_DIR}/ks-service.sh ${RHPAM_EFS_HOME}

[Install]
WantedBy=multi-user.target