[Unit]
Description=RHPAM Kie Server service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash ${RHPAM_HOME}/ks-service.sh ${RHPAM_PROPS_DIR}

[Install]
WantedBy=multi-user.target