[Unit]
Description=RHPAM Business Central service

[Service]
ExecStart=/bin/bash /opt/custom-config/bc-service.sh

[Install]
WantedBy=multi-user.target